In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os.path
import itertools
import datetime

from IPython.display import display
pd.options.display.max_columns = None
above = '../../../'
# val_file = above + 'assessment_og.pkl'
# valuation = pd.read_pickle(val_file)
inner_file = above + 'merged-sales-valuation-macroeconomic.pkl'
inner = pd.read_pickle(inner_file)

316188

In [38]:
hmm = pd.read_pickle(above + 'inner-merged_pg.pkl')
hmm

,S_borough,S_neighborhood,S_building_class_category,S_block,S_lot,S_easement,S_address,S_apt_number,S_zipcode,S_residential_units,S_commercial_units,S_total_units,S_land_sqft,S_gross_sqft,S_year_built,S_tax_class_at_sale,S_building_class_at_sale,S_sale_price,S_sale_date,S_apt_2,S_sale_price_per_unit,bbl,year,v_bble,v_boro,v_block,v_lot,v_owner,v_bldgcl,v_taxclass,v_ltfront,v_ltdepth,v_ext,v_stories,v_fullval,v_avland,v_avtot,v_staddr,v_postcode,v_bldfront,v_blddepth,v_avland2,v_avtot2,v_latitude,v_longitude,v_community_board,v_council_district,v_census_tract,v_bin,v_nta,v_new_georeferenced_column
0,2,BATHGATE,02 TWO FAMILY HOMES,02912,0158,,505 EAST 171ST STREET,,10457.0,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,316500,2012-12-27,None,158250.000000,2029120158,2012/13,2029120158,2,02912,0158,"BARRIENTOS, DEMETRIO",B1,1,20,100,NaN,3.0,294000,4548,17640,505 EAST 171 STREET,10457.0,20,40,NaN,NaN,40.837456,-73.902775,203.0,16.0,169.0,2099475.0,Claremont-Bathgate,POINT (-73.902775 40.837456)
1,2,BATHGATE,02 TWO FAMILY HOMES,03050,0085,,2241 BATHGATE AVENUE,,10457.0,2.0,0.0,2.0,1562.0,3382.0,2004.0,1,B1,443776,2012-10-15,None,221888.000000,2030500085,2012/13,2030500085,2,03050,0085,"LORA , HECTOR J.",B1,1,18,86,NaN,3.0,516000,14318,27775,2241 BATHGATE AVENUE,10457.0,18,46,NaN,NaN,40.853893,-73.892485,206.0,15.0,385.0,2011571.0,Claremont-Bathgate,POINT (-73.892485 40.853893)
2,2,BATHGATE,03 THREE FAMILY HOMES,03050,0001,,2186 WASHINGTON AVENUE,,10457.0,3.0,0.0,3.0,1505.0,2640.0,1901.0,1,C0,190000,2012-08-27,None,63333.333333,2030500001,2012/13,2030500001,2,03050,0001,JAMISON MANNIE,C0,1,19,76,NaN,3.0,423000,5514,10275,2186 WASHINGTON AVENUE,10457.0,20,45,NaN,NaN,40.853911,-73.894162,206.0,15.0,385.0,2011539.0,Claremont-Bathgate,POINT (-73.894162 40.853911)
3,2,BATHGATE,03 THREE FAMILY DWELLINGS,03050,0001,,2186 WASHINGTON AVENUE,,10457.0,3.0,0.0,3.0,1505.0,2640.0,1901.0,1,C0,460000,2013-05-10,None,153333.333333,2030500001,2012/13,2030500001,2,03050,0001,JAMISON MANNIE,C0,1,19,76,NaN,3.0,423000,5514,10275,2186 WASHINGTON AVENUE,10457.0,20,45,NaN,NaN,40.853911,-73.894162,206.0,15.0,385.0,2011539.0,Claremont-Bathgate,POINT (-73.894162 40.853911)
4,2,BATHGATE,07 RENTALS - WALKUP APARTMENTS,02899,0044,,404 EAST 175TH ST,,10457.0,8.0,0.0,8.0,1981.0,6032.0,1931.0,2,C1,570717,2012-11-20,None,71339.625000,2028990044,2012/13,2028990044,2,02899,0044,R&D 404 175TH LLC,C1,2B,26,75,NaN,4.0,478000,998,34082,404 EAST 175 STREET,10457.0,26,58,NaN,NaN,40.845541,-73.901820,206.0,15.0,231.0,2009434.0,Mount Hope,POINT (-73.90182 40.845541)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364607,5,WOODROW,02 TWO FAMILY DWELLINGS,07316,0084,NaN,57 DARNELL LANE,NaN,10309.0,2.0,0.0,2.0,2311.0,1500.0,1995.0,1,B2,620000,2019-06-20,None,310000.000000,5073160084,2018/19,5073160084,5,07316,0084,SALVATORE ANNARUMMA,B2,1,26,88,NaN,2.0,518000,6690,27072,57 DARNELL LANE,10309.0,16,44,NaN,NaN,40.536003,-74.223213,503.0,51.0,226.0,5130720.0,Charleston-Richmond Valley-Tottenville,POINT (-74.223213 40.536003)
364608,5,WOODROW,02 TWO FAMILY DWELLINGS,07317,0119,NaN,73 ROBIN COURT,NaN,10309.0,2.0,0.0,2.0,4125.0,2160.0,1994.0,1,B2,625000,2019-05-21,None,312500.000000,5073170119,2018/19,5073170119,5,07317,0119,JOSEPH DIBENEDETTO,B2,1,25,165,NaN,3.0,527000,9683,29160,73 ROBIN COURT,10309.0,22,40,NaN,NaN,40.536140,-74.222012,503.0,51.0,226.0,5125758.0,Charleston-Richmond Valley-Tottenville,POINT (-74.222012 40.53614)
364609,5,WOODROW,02 TWO FAMILY DWELLINGS,07349,0004,NaN,51 PHEASANT LANE,NaN,10309.0,2.0,0.0,2.0,2123.0,1850.0,1998.0,1,B9,670000,2019-02-22,None,335000.000000,5073490004,2018/19,5073490004,5,07349,0004,"GUITIAN, JOSEPH",B9,1,23,91,NaN,2.0,581000,6988,30528,51 PHEASANT LANE,10309.0,14,52,NaN,NaN,40.532829,-74.222422,503.0,51.0,226.0,5135567.0,Charleston-Richmond Valley-Tottenville,POINT (-74.222422 40.532829)
364610,5,WOODROW,02 TWO FAMILY DWELLINGS,07349,0035,NaN,33 QUAIL LANE,NaN,10309.0,2.0,0.0,2.0,2255.0,2377.0,1998.0,1,B9,640000,2019-03-08,None,320000.000000,5073490035,2018/19,5073490035,5,07349,0035,"PETRONE, AS TRUSTEE,",B9,1,27,83,NaN,3.0,517000,9000,31020,33 QUAIL LANE,10309.0,18,40,NaN,NaN,40.532390,-74.221234,503.0,51.0,226.0,5150660.0,Charleston-Richmond Valley-Tottenville,POINT (-74.221234 40.53239)
364611,5,WOODROW,02 TWO FAMILY DWELLINGS,07351,0022,NaN,22 HERRICK AVENUE,NaN,10309.0,2.0,0.0,2.0,4000.0,2400.0,2000.0,1,B2,917000,2019-03-01,None,458500.000000,5073510022,2018/19,5073510022,5,07351,0022,"AGOSTA, TINA",B2,1,40,100,NaN,2.0,745000,10612,40754,22 HERRICK AVENUE,10309.0,25,47,NaN,NaN,40.530765,-74.218448,503.0,51.0,226.0,5133534.0,Charleston-Richmond Valley-Tottenville,POINT (-74.218448 40.530765)

In [49]:
hmm["S_sale_price"] - hmm["v_fullval"]

0          22500
1         -72224
2        -233000
3          37000
4          92717
           ...
364607    102000
364608     98000
364609     89000
364610    123000
364611    172000
Length: 364612, dtype: int64